<!DOCTYPE HTML>

<html>
	<head>
		<title>15 for 2015: NYUAD Student Activities Report 2015</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/css/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie/v8.css" /><![endif]-->
		<!--[if lte IE 8]><script src="assets/css/ie/respond.min.js"></script><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<section id="header">
				<header>
					<h1>15 for 2015</h1>
					<p>NYUAD Student Activities Report 2015</p>
				</header>
				<footer>
					<a href="#banner" class="button style2 scrolly-middle">Discover</a>
				</footer>
			</section>

		<!-- Banner -->
			<section id="banner">
				<header>
					<h2>We've had an awesome SIG semester.</h2>
				</header>
				<p>Though we started off with a a few bumps at the beginning of the semester, this SIG semester </br>has been one of the most vibrant, exciting and productive. </p><br>

				<p>So present to you this report, titled, <strong>15 for 2015</strong>, a collection of the 15 programs, </br>events and initiatives that we consider milestones for this semester's Student Activities.   </p><br>

				<p>This semester, we were able to spearhead and engineer new programs and initiatives for our SIGs </br>here at NYU Abu Dhabi. This semester alone saw the addition of 4 new SIGs to our SIG family, the establishment </br>of the SIG Recognition Guidelines to increase transparency, the coordination with NYU New York </br>and NYU Shanghai on the Global Clubs Initiative, to name a few. We've done a lot.</p></br>

				<p>But we recognize that there's still more to be done. And so we'd like to report to you </br>what we've done so far, so that we can a reference point as to how we can together move foward </br>in the future to make SIG life here in NYU Abu Dhabi even more amazing. </p>


				<footer>
					<a href="#first" class="button style2 scrolly">Yalla!</a>
				</footer>
			</section>

		<!--1-->
			<article id="first" class="container box style1 right">
				<a href="#" class="image fit"><img src="images/1sigsocial.jpg" alt="" /></a>
				<div class="inner">
					<header>
						<h1>ONE<h1>
						<h2>SIG Welcome Social</h2>
					</header>
					<p>The SIG Welcome Social held at the start of the semester was planned to welcome new SIG leaders, and find out ways Student Government can help their SIGs. Over 20 SIG leaders were in attendance to voice out their concerns for the Student Government.</p>
				</div>
			</article>

		<!-- 2 -->
			<article class="container box style1 left">
				<a href="#" class="image fit"><img src="images/2sigsurvey.png" alt="" /></a>
				<div class="inner">
					<header>
						<h1>TWO<h1>
						<h2>SIG Survey Report 2015</h2>
					</header>
					<p>The SIG Survey Report 2015 conducted at the start of the semester aimed to find out what were pressing issues facing SIGs, and find ways to solve them. After learning of the results, we were able to publish a report where we detailed SIG concerns and responded with information we gathered from the different offices where we rallied for student interests. You can read the report <a href="http://goo.gl/bpJ0cq">here.</a></p>
				</div>
			</article>



		<!-- 3 -->
			<article id="first" class="container box style1 right">
				<a href="#" class="image fit"><img src="images/3cosb.png" alt="" /></a>
				<div class="inner">
					<header>
						<h1>THREE<h1>
						<h2>Council of SIGs</h2>
					</header>
					<p>The Council of SIGs was a proposed framework to help better understand SIG needs. While this was proposed to SIG leaders and was well-received, this feedback system will be more useful in the future when there are more SIGs with more diverse interests. In lieu of this, other programs were put in place to ensure that the student voice is still very much heard. </p>
				</div>
			</article>

		<!-- 4 -->
			<article class="container box style1 left">
				<a href="#" class="image fit"><img src="images/4sigrea.png" alt="" /></a>
				<div class="inner">
					<header>
						<h1>FOUR<h1>
						<h2>SIG Recognition Criteria</h2>
					</header>
					<p>The SIG Recognition Criteria, now part of the newly-created SIG Recognition Guidelines, is aimed at bringing transparency to the SIG Recognition process through clearly laying out the rules and procedures needed for SIGs. You can read the current SIG Recognition Criteria <a href="https://docs.google.com/a/nyu.edu/document/d/1pC-hEWJGmuzAN9UMyND4yTs9X_2kqBJsgBJRPMVq3KI/edit?usp=sharing">here</a>.</p>
				</div>
			</article>


		<!-- 5 -->
			<article id="first" class="container box style1 right">
				<a href="#" class="image fit"><img src="images/5life.png" alt="" /></a>
				<div class="inner">
					<header>
						<h1>FIVE<h1>
						<h2>SIG Lifesaver Session &amp; SIG Check-Ins</h2>
					</header>
					<p>The SIG Lifesaver Sessions and Check Ins were aimed at helping new SIG leaders who have had a hard transition to their roles in the Spring Semester. It was also a venue for Q&amp;A for these SIG leaders in case they had any questions. </p>
				</div>
			</article>

		<!-- 6 -->
			<article class="container box style1 left">
				<a href="#" class="image fit"><img src="images/6updates.png" alt="" /></a>
				<div class="inner">
					<header>
						<h1>SIX<h1>
						<h2>SIG Weekly Updates</h2>
					</header>
					<p>The SIG Weekly Updates was an newsletter-like e-mail sent out to all SIG leaders to inform them of what's happening SIG-wise. While it was not a full-blown newsletter, this could be made into a full-blown newsletter, as quite a few SIG leaders have found this channel of communication very helpful.</p>
				</div>
			</article>

		<!-- 7 -->
			<article id="first" class="container box style1 right">
				<a href="#" class="image fit"><img src="images/7sigstyle.png" alt="" /></a>
				<div class="inner">
					<header>
						<h1>SEVEN<h1>
						<h2>SIG Style Manual</h2>
					</header>
					<p>The SIG Style Guide is aimed at creating an shared vision and identity for Student Interest Groups at NYU Abu Dhabi. This process began with drafting a logo for SIGs, along with consistency of typeface usage across all SIG-related paraphernalia. The manual will be passed on to the next Officer of Student Activities for his/her consideration.</p>
				</div>
			</article>

		<!-- 8 -->
			<article class="container box style1 left">
				<a href="#" class="image fit"><img src="images/8globalclub.png" alt="" /></a>
				<div class="inner">
					<header>
						<h1>EIGHT<h1>
						<h2>Global Club Initiative</h2>
					</header>
					<p>The Global Club Initiative is a program aimed at  creating clubs with NYU students from across NYU's 3 portal campuses and 11 global academic centers as members. The conversation on this has been very fruitful with a framework for these kinds of clubs ready for implementation. We've also began the process of evaluating this program through partnerships with a few SIGs.</p>
				</div>
			</article>

		<!-- 9 -->
			<article id="first" class="container box style1 right">
				<a href="#" class="image fit"><img src="images/9sigleadership.png" alt="" /></a>
				<div class="inner">
					<header>
						<h1>NINE<h1>
						<h2>SIG Leadership Week 2015</h2>
					</header>
					<p>The SIG Leadership Week was aimed at encouraging SIGs to begin the leadership transition process so that incoming SIG Leaders can learn from outgoing SIG Leaders. During the week, we helped SIG leaders with any election needs, including technology such as NYU Vote and OrgSync.</p>
				</div>
			</article>

		<!-- 10 -->
			<article class="container box style1 left">
				<a href="#" class="image fit"><img src="images/10sigstartupmeet.png" alt="" /></a>
				<div class="inner">
					<header>
						<h1>TEN<h1>
						<h2>SIG Startup Meet</h2>
					</header>
					<p>The SIG Startup Meet was an event to help students understand how easy it is to start new SIGs. Held at the Marketplace, this event garnered 5 new SIG ideas, including a Fitness SIG, a SouthEast Asian SIG and an Investment SIG. At the end of the semester, we were happy to be able to welcome 3 new SIGs: a boxing SIG, a women in STEM SIG and a development SIG.</p>
				</div>
			</article>

		<!-- 11 -->
			<article id="first" class="container box style1 right">
				<a href="#" class="image fit"><img src="images/11falconawards.png" alt="" /></a>
				<div class="inner">
					<header>
						<h1>ELEVEN<h1>
						<h2>Falcon Awards for Outstanding SIGs</h2>
					</header>
					<p>The Inaugural Falcon Awards for Outstanding SIGs were given out to projects, SIGs and people who have made a difference in our community. Awards were given out to Fatima Atta Maan (Exemplary SIG Leader), Latino Night  (Most Outstanding Project), The Gardening SIG (Most Outstanding Rising SIG), and Ecoherence and The Equestrian SIG (Most Outstanding SIG).</p>
				</div>
			</article>

		<!-- 12 -->
			<article class="container box style1 left">
				<a href="#" class="image fit"><img src="images/12sigthankss.png" alt="" /></a>
				<div class="inner">
					<header>
						<h1>TWELVE<h1>
						<h2>SIG Thank you Social</h2>
					</header>
					<p>Following the Falcon Awards for Outstanding SIGs, we had the SIG Thank You Social to really thank SIG leaders for all their help and support for the semester, but most of all, for all their work!</p>
				</div>
			</article>

		<!-- 13 -->
			<article id="first" class="container box style1 right">
				<a href="#" class="image fit"><img src="images/13guide.png" alt="" /></a>
				<div class="inner">
					<header>
						<h1>THIRTEEN<h1>
						<h2>SIG Guidebook</h2>
					</header>
					<p>The SIG Guidebook, in line with the SIG Recognition Guidelines, aims to give SIGs a better picture of how we can improve SIGs at NYU Abu Dhabi. In the guide, we write about how to plan events(Events Central), which forms to use for events (Forms Central), and tips for SIGs (SIG Central).</p>
				</div>
			</article>

		<!-- 14 -->
			<article class="container box style1 left">
				<a href="#" class="image fit"><img src="images/14org.png" alt="" /></a>
				<div class="inner">
					<header>
						<h1>FOURTEEN<h1>
						<h2>OrgSync Integration</h2>
					</header>
					<p>Throughout the semester, we were able to get all NYU Abu Dhabi Student Interest Groups onboard to OrgSync. Through the portal, all of SIG Finances are now online and SIGs have their own portals to inform members of new activities, ask students through polls and create a website for external purposes. The SIG Recognition Process has also been streamlined into OrgSync, with an easy to follow process to complete SIG Registration.</p>
				</div>
			</article>

		<!-- 15 -->
			<article id="first" class="container box style1 right">
				<a href="#" class="image fit"><img src="images/15summerfunding.png" alt="" /></a>
				<div class="inner">
					<header>
						<h1>FIFTEEN<h1>
						<h2>Summer Student Activities Funding</h2>
					</header>
					<p>The Summer Student Activities Funding 2015 is aimed at getting students to start cool and fun activities over the summer. The program is still underway. You can still submit a proposal <a href="http://goo.gl/forms/dh6g5BEyHH">here</a>!</p>
				</div>
			</article>




		<!-- Generic -->
		
			<article class="container box style3">
				<header>
					<h2>That's it! Maasalama!</h2>
					<h3>Thank you for helping us build an awesome SIG semester!</h3>
				</header>
				<section>
					<header>
						 <p>As Ernest Hemingway once said, “It is good to have an end to journey toward; but it is the journey that matters, in the end.” We had a great journey this semester. And we couldn't have done it without all of you. </br>So, thanks, thanks, thanks.</p>
						 
						 If you have any other questions, comments or concerns, please do not hesitate to email Patrick Wee, Officer of Student Activities at pkw228@nyu.edu.
					</header>
				</section>
			</article>
		


		<section id="footer">
			<ul class="icons">
				<li><a href="https://www.facebook.com/groups/nyuad.student.life/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
			</ul>
			<div class="copyright">
				<ul class="menu">
					<li>&copy; NYU Officer of Student Activities 2015.</li><li>Design and Content by: <a href="http://pwee.me">PWee</a></li>
				</ul>
			</div>
		</section>

	

		

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.poptrox.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>